<?xml version='1.0' encoding='utf-8'?>
    <!DOCTYPE hibernate-configuration PUBLIC
            "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
            "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://edo4plet5mhv93s3.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/damjk05e0hw3cwh2?serverTimezone=America/Fortaleza</property>
		<property name="connection.username">ygelcie0w6os4igx</property>
		<property name="connection.password">cr7ciylo18b64bn0</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<property name="hibernate.hbm2ddl.auto">validate</property>

		<!-- Use Annotation-based mapping metadata -->
		<mapping class="br.edu.ifrn.scatalapi.model.Curso" />
		<mapping class="br.edu.ifrn.scatalapi.model.Disciplina" />
		<mapping class="br.edu.ifrn.scatalapi.model.Aluno" />
		<mapping class="br.edu.ifrn.scatalapi.model.Email" />
		<mapping class="br.edu.ifrn.scatalapi.model.Tutoria" />
		<mapping class="br.edu.ifrn.scatalapi.model.Postagem" />
	</session-factory>
</hibernate-configuration>